<html>
<head>
    <title>Simple telegram archiver</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<h1>Current archive info</h1>
<p><a href="/">Return to home</a></p>
<p>The archiver is currently {% if running %}running!{% else %}not running{% endif %}</p>
<h2>List of archive runs ({{ archive_records | length }})</h2>
<ul>
    {% for run in archive_records %}
        <li>Archive run: {{ run.archive_run_id }}, {{ run.target_type.name }}: {{ run.target_id }} ({{ run.time_queued }})</li>
    {% endfor %}
</ul>
<h2>List of known chats ({{ chats_by_id | length }})</h2>
<ul>
    {% for chat_id, chats in chats_by_id.items() %}
        {% set chat = chats[-1] %}
        <li>{{ chat.title }} ({{ chat_id }}): {{ chats | length }} records</li>
    {% endfor %}
</ul>
<h2>List of known users ({{ users_by_id | length }})</h2>
<ul>
    {% for user_id, users in users_by_id.items() %}
        {% set user = users[-1] %}
        <li>{{ user.full_name }} ({{ user_id }}): {{ users | length }} records</li>
    {% endfor %}
</ul>
<h2>Downloaded sticker sets ({{ sticker_sets_by_id | length }})</h2>
<ul>
    {% for set_id, sticker_sets in sticker_sets_by_id.items() %}
        {% set sticker_set = sticker_sets[-1] %}
        <li>{{ sticker_set.title }} ({{ set_id }}) [{{ sticker_set.sticker_count }}]: {{ sticker_sets | length }} records</li>
    {% endfor %}
</ul>
</body>
</html>
