<html>
<head>
    <title>Simple telegram archiver</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<h1>Current archiver status</h1>
<p><a href="/">Return to home</a></p>
{% if running %}
    <p>The archiver is currently running!</p>
    <ul>
        <li>
            Media downloader:
            {% set media_dl_task = archiver.media_dl.task %}
            {% if media_dl_task is none %}
                Not yet running
            {% else %}
                {% if not media_dl_task.done() %}
                    Running! Queue size: {{ archiver.media_dl.queue_size() }}
                {% else %}
                    <b>Stopped</b>
                    {% set media_dl_exc = media_dl_task.exception() %}
                    {% if media_dl_exc is not none %} Exception: {{ media_dl_exc }} {% endif %}
                {% endif %}
            {% endif %}
        </li>
        <li>
            Sticker downloader:
            {% set sticker_dl_task = archiver.sticker_downloader.task %}
            {% if sticker_dl_task is none %}
                Not yet running
            {% else %}
                {% if not sticker_dl_task.done() %}
                    Running! Queue size: {{ archiver.sticker_downloader.queue_size() }}
                {% else %}
                    <b>Stopped</b>
                    {% set sticker_dl_exc = sticker_dl_task.exception() %}
                    {% if sticker_dl_exc is not none %} Exception: {{ sticker_dl_exc }} {% endif %}
                {% endif %}
            {% endif %}
        </li>
        <li>
            Peer fetcher:
            {% set peer_fetch_task = archiver.peer_fetcher.task %}
            {% if peer_fetch_task is none %}
                Not yet running
            {% else %}
                {% if not peer_fetch_task.done() %}
                    Running! Queue size: {{ archiver.peer_fetcher.queue_size() }}
                {% else %}
                    <b>Stopped</b>
                    {% set peer_fetch_exc = peer_fetch_task.exception() %}
                    {% if peer_fetch_exc is not none %} Exception: {{ peer_fetch_exc }} {% endif %}
                {% endif %}
            {% endif %}
        </li>
    </ul>
{% else %}
    <p>The archiver is not currently running. Would you like to start it?</p>
    <form action="/archiver/" method="post">
    <input type="hidden" name="action" value="run_archiver" />
    <input type="submit" value="Start archiver" />
    </form>
{% endif %}
<h2>Archiver activity</h2>
<p><a href="/archiver/">Refresh archiver activity</a></p>
{% if current_activity is none %}
    <p>The archiver has not yet been run (since last startup).</p>
{% else %}
    {% set history_targets = current_activity.history_targets %}
    {% if history_targets | length > 0 %}
        <h3>Archive targets</h3>
        Downloading chat history of these {{ history_targets | length }} targets:<br/>
        {% set num_targets = namespace(complete=0,in_progress=0,todo=0) %}
        {% for target in history_targets %}
            {% if target.run_record.run_timer.start_time is none %}
                {% set num_targets.todo = num_targets.todo + 1 %}
            {% elif target.run_record.run_timer.end_time is none %}
                {% set num_targets.in_progress = num_targets.in_progress + 1 %}
            {% else %}
                {% set num_targets.complete = num_targets.complete + 1 %}
            {% endif %}
        {% endfor %}
        (Complete: {{ num_targets.complete }}, In progress: {{ num_targets.in_progress }}, Todo: {{ num_targets.todo }})
        <table>
        <thead>
            <tr>
                <th>Target</th>
                <th>Target title</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
        {% for target in history_targets %}
            <tr>
                <td>{{ target.dialog.chat_type }} {{ target.chat_id }}</td>
                <td>{{ target.dialog.name }}</td>
                <td>{{ target.run_record.run_timer.start_time }}</td>
                <td>{{ target.run_record.run_timer.end_time }}</td>
                <td>{{ target.run_record.run_timer.duration_str() }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
    {% set target_watcher = current_activity.target_watcher %}
    {% if target_watcher is not none %}
        <h3>Follow targets</h3>
        Watching these targets for live updates:
        <table>
        <thead>
            <tr>
                <th>Target</th>
                <th>Target title</th>
                <th>Timings</th>
                <th>DB status</th>
            </tr>
        </thead>
        <tbody>
        {% for target in target_watcher.follow_targets.values() %}
            <tr>
                <td>{{ target.dialog.chat_type }} {{ target.chat_id }}</td>
                <td>{{ target.dialog.name }}</td>
                <td>
                    Start: {{ target.run_record.run_timer.start_time }}
                {% if target.run_record.run_timer.end_time is not none %}
                    End: {{ target.run_record.run_timer.end_time }}
                {% endif %}
                </td>
                <td>{{ target_watcher.target_db_connection_state(target) }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {% if target_watcher.running %}
            <form action="/archiver/" method="post">
            <input type="hidden" name="action" value="stop_watcher" />
            <input type="submit" value="Stop following targets" />
            </form>
        {% endif %}
    {% endif %}
{% endif %}
</body>
</html>
