<html>
<head>
    <title>Simple telegram archiver</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<h1>Simple Telegram Backups</h1>
<p>Options menu:</p>
<p>
    <ul>
        <li><a href="archive/">View archive state</a></li>
        <li>Specify a chat ID or username to download [WIP]</li>
        <li>Run archiver with current chat settings [WIP]</li>
        <li><a href="settings/behaviour">Modify default archive behaviour</a></li>
        <li><a href="settings/known_dialogs">Modify download behaviour settings for known dialogs [WIP]</a></li>
        <li><a href="settings/new_dialogs">Modify default download behaviour settings for new dialogs [WIP]</a></li>
    </ul>
visitor counter since webserver spin up: {{ count }}
</p>
</body>
</html>
