<html>
<head>
    <title>Simple telegram archiver</title>
</head>
<body>
<h1>Simple Telegram Backups</h1>
<p>Options menu:</p>
<p>
    <ul>
        <li><a href="archiver_state/">View archiver state</a></li>
        <li>Specify a chat ID or username to download [WIP]</li>
        <li>Run archiver with current chat settings [WIP]</li>
        <li>Modify download behaviour settings for known chats [WIP]</li>
        <li>Modify default download behaviour settings for new chats [WIP]</li>
    </ul>
visitor counter: {{ count }}
</p>
</body>
</html>
