<html>
<head>
    <title>Simple telegram archiver</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<h1>Known dialog settings</h1>
<p><a href="/">Return to home</a></p>
<h2>Known dialogs</h2>
{% if dialogs | length > 0 %}
<form action="/settings/known_chats" method="post">
<input type="hidden" name="action" value="update_known_chats">
{% endif %}
<table>
    <thead>
    <tr>
        <th>Chat</th>
        <th>Leave default</th>
        <th>Archive chat</th>
        <th>Don't archive</th>
        <th>State</th>
    </tr>
    </thead>
    <tbody>
    {% for dialog in dialogs %}
        {% set dialog_settings = settings.chat_settings.get(dialog.resource_id) %}
        {% set archive_dialog = none %}
        {% if dialog_settings is not none %}
            {% set archive_dialog = dialog_settings.archive %}
        {% endif %}
        {% set default_archive = settings.default_archive %}
        <tr>
        <td>{{ dialog.chat_type.value }} {{ dialog.resource_id }}: {{ dialog.name }}</td>
        <td><input type="radio" name="archive_dialog_{{ dialog.resource_id }}" value="default" {% if archive_dialog is none %}checked{% endif %} /></td>
        <td><input type="radio" name="archive_dialog_{{ dialog.resource_id }}" value="archive" {% if archive_dialog is true %}checked{% endif %} /></td>
        <td><input type="radio" name="archive_dialog_{{ dialog.resource_id }}" value="no_archive" {% if archive_dialog is false %}checked{% endif %}/></td>
        <td>
            (default: {{ default_archive }}){# TODO: process with filters #}
            <a href="/settings/known_chats/{{ dialog.resource_id }}">Edit archive behaviour</a>
        </td>
        </tr>
    {% else %}
        <tr>
        <td colspan="5">
            No dialogs in database.<br />
            {% if running_list_dialogs %}
                Archiver is currently saving list of dialogs.
            {% else %}
                <form action="/settings/known_chats" method="post">
                    <input type="hidden" name="action" value="list_dialogs">
                    <input type="submit" value="Trigger dialog listing">
                </form>
            {% endif %}
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if dialogs | length > 0 %}
<input type="submit" value="Save all dialog settings">
</form>
{% endif %}

{% if running_list_dialogs %}
    <p>Archiver is currently working on listing all dialogs</p>
{% elif newest_dialog_date is not none %}
    <p>
    Newest dialog date is {{ newest_dialog_date }}.<br />
    Would you like to re-list all dialogs?
    <form action="/settings/known_chats" method="post">
        <input type="hidden" name="action" value="list_dialogs">
        <input type="submit" value="Re-list all dialogs">
    </form>
    </p>
{% endif %}
</body>
</html>
